{% extends "DTRESiteBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block bundle_body %}

    <h2>Equipe année 2017-2018</h2>
    <hr>

    <div class="thumbmail">
        <img src="{{ asset('assets/images/img_fond.jpg') }}" width="100%" height="auto">
        <div class="caption">
            <h3> Equipe de l'association</h3>
        </div>
    </div>

    <br>


    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{{ asset('assets/images/team/president.jpg') }}" width="100%" height="auto">
                <div class="caption">
                    <h3>Président</h3>
                    <p>Le mot du président</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{{ asset('assets/images/team/vice-president.jpg') }}" width="100%" height="auto">
                <div class="caption">
                    <h3>Vice Président</h3>
                    <p>Le mot du vice-président</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{{ asset('assets/images/team/tresorier.jpg') }}" width="100%" height="auto">
                <div class="caption">
                    <h3>Président</h3>
                    <p>Le mot du tresorier</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="{{ asset('assets/images/team/secretaire-general.jpg') }}" width="100%" height="auto">
                <div class="caption">
                    <h3>Secretaire Général</h3>
                    <p>Le mot du secretaire général</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block bundle_javascript %}


{% endblock %}